<section class="bg-gray-100 min-h-screen py-10 px-6">
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">

    <!-- CHILD 1: CART ITEMS -->
    <app-cart-items
      class="lg:col-span-2"
      [cartItems]="cartItems"
      (remove)="removeItem($event)"
    ></app-cart-items>

    <!-- CHILD 2: ORDER SUMMARY -->
    <app-order-summary
      [totalAmount]="totalAmount"
      [totalItems]="totalItems"
      [isPlacingOrder]="isPlacingOrder"
      [cartLength]="cartItems.length"
      (placeOrder)="placeOrder()"
    ></app-order-summary>

  </div>
</section>
